{% extends "base.html" %}
{% block content %}
  <h2>archive</h2>
  
  <article id="archives" class="post_content">
    {% for month, posts in archives.items()|sort(reverse=true) %}
    
      {# Remove the timestamp used to sort the archive by replacing
         it with an empty string so that only the month and year shows
         (which comes after the timestamp in the dictonary key)
      #}
      
      <h2>{{ month|replace(month|truncate(20, true, ''), '') }}</h2>
      <ul class="archive_list">
      {% for post in posts %}
          <li><a href="{{ url_for('view_page', page_path=post.path) }}">
            {{ post.meta.title }}</a> 
            <span class="archive_date">
              {{ post.meta.date.strftime("%a, %b %d, %Y") }}
            </span>
          </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </article>
  
{% endblock %}
