<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% if title != 'Home' %}
        {{ title }} - 
      {% endif %}
      Adam Schwartz
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <!--========-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments_eighties.css') }}">
    <!--=======-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon-152.png') }}" />
    <link rel="shortcut icon" sizes="196x196" href="{{ url_for('static', filename='images/icon-196.png') }}" />
  </head>
  <body>
    <div id="big_wrapper" class="{{ homepage }}">
      <div id="wrapper" class="{{ homepage }}">
        <header>
          <div id="banner" class="{{ homepage }}">
            <a href="{{ url_for('home') }}" title="Home">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="logo" x="0px" y="0px" width="279.816px" height="277.306px" viewBox="160.04 161.746 279.816 277.306" enable-background="new 160.04 161.746 279.816 277.306" xml:space="preserve">
                <g id="hexagon"/>
                  <polygon id="outer-hex" points="160.04,265.421 260.285,161.746 400.193,196.722 439.856,335.375 339.611,439.052 199.702,404.075"/>
                  <polygon id="inner-hex" fill="#F5F5F5" points="325.479,397.39 228.719,371.006 203.187,274.014 274.417,203.408 371.182,229.792 396.708,326.783"/>
                </g>
              </svg>
            </a>
            <a href="{{ url_for('about') }}" {% if title == 'About' %} class="current" {% endif %}>
              <span id="header_text" title="About">Adam Schwartz</span>
            </a>
          </div>
          <nav class="{{ homepage }}">
            <ul>
              <!--Begin Nav-->
              {% for item in nav_items %}
                  <li>
                    {# Make a link to the appropriate location:
                      
                       Check if 'item' is a list containing a link and use it,
                       if no link is provided, use url_for.

                       Then make a link to the appropriate 'pages/' directory
                       and add '/blog' in front of blog nav_items, 
                       but not the actual link to the blog.
                    #}
                      <a href=
                        "
                          {% if item[1]|truncate(4, True, '') == 'http' %}
                            {{ item[1] }}
                          {% else %}
                            {{ url_for('view_page', page_path=item|lower) }}
                          {% endif %}
                        "
                        {# Add some attributes to the link. #}
                        {% if title == item %} class="current" {% endif %}
                        {% if item[1]|truncate(4, True, '') == 'http' %}
                          target="blank"
                        {% endif %}
                      > {# The beginning <a> tag ends here. #} 
                          <span class="underline_link">
                            {% if item[1]|truncate(4, True, '') == 'http' %}
                              {{ item[0] }}
                            {% else %}
                              {{ item }}
                            {% endif %}
                          </span>
                      </a>
                  </li>
              {% endfor %}
              <!--End Nav-->
            </ul>
          </nav>
        </header>
        <section id="main_section" class="{{ homepage }}">
          <!--Begin Markdown Posts-->
          {% block content %}
          {% endblock %}
          <!--End Markdown Posts-->
          <footer>
            <p id="prefs">
              <a href="{{ url_for('prefs') }}" {% if title == 'Display Preferences' %} class="current" {% endif %}>
                <span id="prefs_link">Display Preferences</span>
              </a>
            </p>
            <p>
              <span id="copy" class="footer_text">
                &copy; {{ copy_year }} 
                <a href="{{ url_for('home') }}"><span class="footer_text">Adam Schwartz</span></a>
              </span>
              <span class="footer_text">|</span>
                <a href="https://github.com/anschwa/anschwa.github.io" target="_blank">
                  <span class="footer_text">View on GitHub</span>
                </a>
              </span>
            </p>
          </footer>
        </section>
      </div>
    </div>
    <!-- Scripts -->
    <!-- Load jQuery and scipts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
        url_for('static', filename='lib/jquery-2.0.3.min.js') }}"><\/script>')</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
