{% extends "base.html" %}
{% block content %}
  <h2>{{ title|lower }}</h2>
  {% for post in posts %}
    <article class="markdown site_content">
        <h1 class="post_title">
          <a href="{{ url_for('view_page', page_path=post.path) }}">
            <span class="underline_link">{{ post.meta.title }}</span>
          </a>
        </h1>
				<p class="post_date">{{ post.meta.date.strftime("%A, %B %d, %Y. %H:%M") }}</p>
      <section class="post_content">
        {{ post.html|truncate(512)|safe }}
        {% if post.html|safe|length() > 512 %}
          <a href="{{ url_for('view_page', page_path=post.path) }}">Continue Reading</a>
        {% endif %}
      </section>
    </article>
  {% endfor %}
  <p id="view_more_p"><a id="view_more_a" href="{{ url_for('archive') }}">
      <span id="view_more_span">More</span></a>
  </p>
{% endblock %}
