/*************Target Medium-Desktop & Phones, Tablets****************/
@media only screen and (max-width:999px), only screen and (device-aspect-ratio: 40/71), only screen and (device-aspect-ratio:3/4), only screen and (device-aspect-ratio:3/2), only screen and (-webkit-device-pixel-ratio: 3){

    #big_wrapper{
        margin:0px 20px;
    }

    #wrapper{
        -webkit-flex-direction:column;
        -moz-flex-direction:column;
        flex-direction:column;
    }

    header{
        position:static;
        margin-bottom:1.25em;
        margin-right:0;
    }

    #banner{
        width:10em;
    }

    nav{
        position:static;
        margin-top:10px;
    }

    nav ul{
        margin:0 auto;
        padding:0;
        text-align:center;
    }

    nav ul li{
        display:inline-block;
        margin:0 4px 4px; 4px;
        padding:0;
    }

    #main_section{
        padding-left:0; /*adjust content for center alignment*/
        border-left:none !important;
        /*this is the top bar*/
        border-top:1px solid #000;
    }

    /* .site_content{ */
    /*     margin-left:1.25em; */
    /* } */

    #archives{
        display:-webkit-flex;
        -webkit-align-items:center;
        -webkit-flex-direction:column;

        display:-moz-flex;
        -moz-align-items:center;
        -moz-flex-direction:column;

        display:flex;
        align-items:center;
        flex-direction:column;
    }

    #prefs_wrap{
        -webkit-justify-content:center;
        -moz-justify-content:center;
        justify-content:center;
    }

    footer{
        margin:42px 35px 0 35px;
    }

    /*************HOMEPAGE STYLE START**********/
    #banner.homepage{
        width: auto;
        font-size: 381%;
    }

    nav.homepage{
        font-size: 2.3em;
    }
    /*************HOMEPAGE STYLE END************/

    #gravatar {
        margin: 0 auto;
    }
}

/****************Target Medium-BIG-Desktop*******************/
@media only screen and (max-width:720px), only screen and (max-height:700px){
    /*************HOMEPAGE STYLE START**********/
    #banner.homepage{
        width: auto;
        font-size: 300%;
    }

    nav.homepage{
        font-size: 1.8em;
    }
    /*************HOMEPAGE STYLE END************/
}

/****************Target Medium-SMALL-Desktop*******************/
@media only screen and (max-width:535px){
    /*************HOMEPAGE STYLE START**********/
    #banner.homepage{
        width: auto;
        font-size: 232%;
    }

    nav.homepage{
        font-size: 1.4em;
    }
    /*************HOMEPAGE STYLE END************/
}

/*************Target Small-Desktop & Phones, Tablets****************/
@media only screen and (max-width:430px), only screen and (device-aspect-ratio: 40/71), only screen and (device-aspect-ratio:3/4), only screen and (device-aspect-ratio:3/2), only screen and (-webkit-device-pixel-ratio: 3){
    /*adjust size to compensate for list items*/
    header{
        margin-bottom:0.2em;
    }

    #archives{
        -webkit-align-items:baseline;
        -moz-align-items:baseline;
        align-items:baseline;
    }

    /*************HOMEPAGE STYLE START**********/
    #banner.homepage{
        width: auto;
        font-size: 192%;
    }

    nav.homepage{
        font-size: 1.1em;
    }
    /*************HOMEPAGE STYLE END************/

    .post_date {
        text-align: center;
    }
}

/*************Target only Phones & Tablets****************/
@media  only screen and (device-aspect-ratio: 40/71), only screen and (device-aspect-ratio:3/4), only screen and (device-aspect-ratio:3/2), only screen and (-webkit-device-pixel-ratio: 3){}
