@charset "UTF-8";

@font-face{
  font-family: PrintClearly;
  src: url(../lib/PrintClearly.ttf);
}

@font-face {
  font-family: 'PrintClearly';
  src: url('../lib/printclearly_regular_macroman/PrintClearly-webfont.eot');
  src: url('../lib/printclearly_regular_macroman/PrintClearly-webfont.eot?#iefix') format('embedded-opentype'),
       url('../lib/printclearly_regular_macroman/PrintClearly-webfont.woff') format('woff'),
       url('../lib/printclearly_regular_macroman/PrintClearly-webfont.ttf') format('truetype'),
       url('../lib/printclearly_regular_macroman/PrintClearly-webfont.svg#print_clearlyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/************LOGO STYLE START***********/
#logo{
  position: relative;
  display: block;
  left: 0.2em;
  margin: 1em auto 0.8em auto;
  width: 4.2em;
  height: 4.2em;
}
#inner-hex{
  fill: #F5F5F5;
}

#gravatar {
    border-radius: 50%;
    display: block;
}
/************LOGO STYLE END************/

a{
  text-decoration: none;
  /*color: #005d04; green*/
  /*color: #2c799b; Blue*/
  color: #000; /*underline color*/
}

.post_content a{
  color: #2c799b !important;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.underline_link{
  color: #000;
}

a.current{
  text-decoration: underline;
}

body{
  font-family: sans-serif;
  font-size: 100%; /*adjust global font-size*/
  background-color: #ebebeb;
  color: #000;
}

#big_wrapper{
  margin: 50px 0 150px 0;
}

#wrapper{
  margin: 0 auto;
  min-width: 300px;
/*	min-width: 588px;*/
  max-width: 1000px;
  
	display: -webkit-flex;
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
  -webkit-flex-direction: row;

	display: -moz-flex;
  -moz-flex-direction: row;
  -moz-flex-grow: 1;
  -moz-flex-shrink: 1;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
}

header{
  position: relative;
  bottom: 40px;
  height: auto;
  width: auto;
  text-align: center;
  margin-right: 2.2em;

  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
}

#header_text{
  position: relative;
  left: 4px;
  font-family: PrintClearly;
  font-size: 1.7em;
  color: #000;
}

#banner{
  position: static;
  /* For some reason the logo is rendered incorrectly.
     100% works in Firefox, but not in Chrome.
  */
  
  font-size: 100%;
}

nav{
  position: relative;
  left: 4px;
  margin-top: 22px;
  font-size: 1.3em;
  font-family: PrintClearly;

  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
}

nav ul{
  text-align: right;
}

nav ul li{
  list-style: none;
  padding: 4px 0;
  margin: 0;
  color: #2c799b;
}

#main_section{
  padding-left: 2.2em;
  /*this is the left bar*/
  border-left: 1px solid #000;

  display:  -webkit-flex;
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 2;
  -webkit-flex-direction: column;

	display: -moz-flex;
  -moz-flex-direction: column;
  -moz-flex-grow: 2;
  -moz-flex-shrink: 2;

  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 2;
}

.site_content{
  display: block;
  /* margin-right: 20px; */
  padding-bottom: 10px;
  min-width: 200px;

  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;

  -moz-flex-grow: 1;
  -moz-flex-shrink: 1;

  flex-grow: 1;
  flex-shrink: 1;
}

.post_title{
  color:  #000;
  font-weight:  normal;
  padding-top: 1em;
  text-align: center;
}

.post_content{
  line-height: 2em;
}

pre, code{
  line-height: 1em;
}

.post_date{
  text-align: right;
  font-size: 0.9em;
  color: #6a6a6a;
}

#view_more_p{text-align: center;}
#view_more_span{color: #6a6a6a;}

.site_content:last-of-type{
  border-bottom: none !important;
}

.archive_list{
  list-style: none;
}
.archive_list li{
  margin: 0.5em 0;
}

#archives h2{
  font-weight:  normal;
}

.archive_date{
  font-size: 0.7em;
  margin-left: 1em;
}

footer{
  position: absolute;
  margin: 42px 0px 0px 0;
  font-size: 0.8em;
}
#prefs{
  font-size: 0.8em;
}
#prefs_link{
  color: #8d8d8d;
}
.footer_text{
  color: #6a6a6a;
  font-weight: 500;
}
#prefs_wrap{
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
#prefs_form div{
  text-align: left;
}
#prefs_form{
  font-size: 0.8em;
  text-align: center;
  margin: auto 0;
}
#prefs_form select{
  width: 110px;
}
/***********************HOMEPAGE STYLE START**********************/
#big_wrapper.homepage{
	margin: 50px 20px 0 20px;
}

#wrapper.homepage{
/*	justify-content: center;*/
	
	-webkit-flex-direction:column;
  -moz-flex-direction:column;
  flex-direction:column;
}

#main_section.homepage{
	padding-left: 0; /*adjust content for center alignment*/
  border-left: none;
  /*this is the top bar*/
  border-top: 1px solid #000 !important;
}

#banner.homepage{
	font-size: 483%;
}

#logo.homepage{
/*	font-size: 7.2em;*/
}
#header_text.homepage{
/*	font-size: 8.2em;*/
}

nav.homepage{
	font-size: 3em;
}

nav.homepage ul{
  margin:0 auto;
  padding: 0;
  text-align: center;
}

nav.homepage ul li{
	display: inline-block;
  margin: 0 4px 4px; 4px;
  padding: 0;
}
/***********************HOMEPAGE STYLE END**********************/
